.loadMoreBtn {
  margin: 0 auto 16px auto;
  display: block;
}
.searchCounter-footer {
  // position: absolute;
  // left: map-get($header, 'marginHorisontal');
  // top: map-get($footer, 'marginVertical');
  // margin: auto map-get($footer, 'marginHorisontal');
  margin: auto auto auto 0;
}
.footer {
  padding: 10px 6px 30px 6px;
  position: relative;
  width: 100%;

  &__content {
    position: relative;
    padding: 6px;
    display: flex;
    flex-direction: row;
    background-color: map-get($colors, 'footer');
    width: 100%;
    border-radius: 16px; //5%;
    height: map-get($footer, 'height');
    // transition-duration: map-get($animations, 'duration');
    box-shadow: $box-shadow;
  }
}
