.gallery {
  padding: 6px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  background-color: map-get($colors, 'gallery');
  overflow: auto;
  // scroll-behavior: smooth;

  & a {
    display: flex;
    flex-grow: 100;
    overflow: hidden;
    display: block;
  }
}

.card {
  padding: 6px;
  gap: 6px;
  background-color: map-get($colors, 'galleryItem');
  // width: map-get($gallery, 'itemWidth');
  // height: map-get($gallery, 'itemHeight');
  flex: 1 0 400px; //gpt 2
  aspect-ratio: 4/3; //gpt 3
  // max-height: 55vh;
  max-width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow;

  &__img {
    // display: block;
    // width: map-get($gallery, 'imgWidth');
    // height: map-get($gallery, 'imgHeight');
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__info {
    // flex: 0 1 auto;
    // flex-wrap: wrap;
    // flex: 1;
    // flex-basis: 200px;
    display: flex;
    align-items: flex-start;
    // justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
    // flex-wrap: wrap;
    gap: 4px;
    &--entry {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
.span--description {
  font-weight: bold;
  margin: 0 18px;
}
.span--number {
  margin: 0 18px;
}
@media screen and (max-width: 600px) {
  .card {
    flex: 1 0 400px; //gpt 2
    // aspect-ratio: 5/2; //gpt 3
    // max-height: 45vh;
    max-width: 100%;
    // max-height: 100vw;
    &__info {
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  .card {
    // flex: 1 0 400px; //gpt 2
    aspect-ratio: 5/2; //gpt 3
    // max-height: 45vh;
    // max-width: 100%;
    // max-height: 100vw;
  }
}
