// .searchInput {
//   //
// }
// .searchBtn {
//   //
// }
// .searchCounter {
//   // margin: auto;
// }
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  transition-duration: map-get($animations, 'duration');

  &:not(.alwaysshow) {
    transform: map-get($header, 'transform');
  }

  &__content {
    display: flex;
    flex-direction: row;
    background-color: map-get($colors, 'header');
    width: 100%;
    // height: 2222px;
    height: map-get($header, 'height');
    // overflow: hidden;
    transition-duration: map-get($animations, 'duration');
    // box-shadow: map-get($animations, 'box-shadow');
    box-shadow: $box-shadow;
    border-radius: 0 0 16px 16px; //5%;
  }
  &__bottom {
    background-color: map-get($colors, 'transparent');
    width: 100%;
    height: map-get($header, 'invisibleHeight');
    // overflow: hidden;
    transition-duration: map-get($animations, 'duration');

    &:hover,
    &:focus {
      // transform: translate(0, 0px);
      // height: 0px;
      height: map-get($header, 'behindHeight');
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within,
  &.alwaysShow {
    transform: translate(0, 0px) !important;
    // transition-delay: 5ms;
  }
}
