.searchInput {
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: map-get($header, 'marginHorisontal');
  margin-right: map-get($header, 'marginHorisontal');
  margin-bottom: 0px;
  height: map-get($header, 'contentHeight');
  width: 220px;
}
.searchBtn {
  box-sizing: border-box;
  margin: auto map-get($header, 'marginHorisontal');
  height: map-get($header, 'contentHeight');
  width: 30px;
}
.pageCount {
  margin: auto map-get($header, 'marginHorisontal');
}
.searchCounter {
  // background-color: red;
  margin: auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  transform: map-get($header, 'transform');
  transition-duration: map-get($animations, 'duration');

  &__content {
    display: flex;
    flex-direction: row;
    background-color: map-get($colors, 'header');
    width: 100%;
    // height: 2222px;
    height: map-get($header, 'height');
    // overflow: hidden;
    transition-duration: map-get($animations, 'duration');
  }
  &__bottom {
    background-color: map-get($colors, 'transparent');
    width: 100%;
    height: map-get($header, 'invisibleHeight');
    // overflow: hidden;
    transition-duration: map-get($animations, 'duration');

    &:hover,
    &:focus {
      // transform: translate(0, 0px);
      // height: 0px;
      height: map-get($header, 'behindHeight');
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    transform: translate(0, 0px);
  }
}
