// $desktop: 1280px;
$colors: (
  'text': #000000,
  'header': rgba(88, 200, 47, 0.568),
  transparent: rgba(88, 200, 47, 0),
  gallery: #ffd2f8,
  galleryItem: #ffc191,
);
$animations: (
  duration: 300ms,
);
$header: (
  height: 40px,
  behindHeight: 43px,
  invisibleHeight: 80px,
  transform: translate(0, -40px),
  contentHeight: 26,
  marginHorisontal: 6px,
);
$gallery: (
  itemWidth: 80px,
  itemHeight: 100px,
  imgWidth: 80px,
  imgHeight: 80px,
);

// .container {
//   margin: 0px auto;
// }
// body {
//   color: getColor('black-primary');
//   font-family: 'DM Sans', sans-serif;
//   font-family: 'Titan One', cursive;
// }
