// $sl-close-fontsize: 24rem; //3rem
// $sl-arrow-fontsize-small: 14rem; //2rem
// $sl-arrow-fontsize-medium: 15rem; //3rem
// $sl-arrow-fontsize-large: 16rem; //3rem

// $desktop: 1280px;
$colors: (
  'text': #000000,
  'header': rgba(88, 200, 47, 0.568),
  transparent: rgba(88, 200, 47, 0),
  gallery: rgba(149, 224, 0, 0.484),
  // #ffd2f8, pink
  // #ffe09e, orange #ffefc2ca yellow transparent
  galleryItem: #fff2df,
  // #ffe7c2ca,
  border: #ffffff,
  previewButtons: #515c25,
);
$animations: (
  duration: 300ms,
  // box-shadow:0 ,
);
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$gradient: white 50%, #f3ecbf00 70%, #f3ecbf00 80%;
// ellipse at 50% 60%,
$header: (
  height: 40px,
  behindHeight: 43px,
  invisibleHeight: 80px,
  transform: translate(0, -40px),
  contentHeight: 26,
  marginHorisontal: 6px,
);
$gallery: (
  itemWidth: 100px,
  itemHeight: 160px,
  imgWidth: 100px,
  imgHeight: 100px,
);

// .container {
//   margin: 0px auto;
// }
// body {
//   color: getColor('black-primary');
//   font-family: 'DM Sans', sans-serif;
//   font-family: 'Titan One', cursive;
// }
