<div class="gallery">
  <!-- start of gallery, one card -->
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <!-- the rest -->
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <div class="card">
    <a href=""
      ><img class="card__img" src="./images/logo.png" alt="" title=""
    /></a>
    <div class="card__info">
      <div class="card__info--entry">
        <span class="span--description">Likes</span>
        <span class="likes span--number">886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Views</span>
        <span class="views span--number">456886</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Comments</span>
        <span class="comments span--number">186</span>
      </div>
      <div class="card__info--entry">
        <span class="span--description">Downloads</span>
        <span class="downloads span--number">13886</span>
      </div>
    </div>
  </div>
  <!-- end of gallery -->
</div>
