<header class="header">
  <div class="header__bottom">
    <div class="header__content">
      <form class="searchCounter margin-auto">
        <!-- <button class="btn resetBtn"></button> -->
        <input
          class="input searchInput"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button class="btn searchBtn" type="submit">Search</button>
      </form>

      <div class="pageCount">
        <span class="page">5</span>/<span class="maxPages">20</span>
      </div>
    </div>
  </div>
</header>
